/**
 * 	Modules.css
 *  Styles for unique site components
 *  navigation, footer, contextual areas
 */
.site-title {
	text-align: center;
}
.nav-main {
	display: inline-block;
}
.nav-main-item {
	display: inline-block;
}
.nav-main-item a {
	display: block;
	padding: 10px 20px;
}

/* forms */
.forms {
	position: relative;
	width: 360px;
}
.form label {
	display: inline-block;
	min-width: 135px;
	text-align: right;
}
.form input {
	display: inline-block;
	min-width: 200px;
	margin-bottom: 10px;
	margin-left: 20px;
}
.form select {
	display: inline-block;
	min-width: 200px;
	margin-bottom: 10px;
	margin-left: 20px;
}
.form input[type=submit] {
	float: right;
}

/* Content */
.content {
	padding: 20px;
}

/* Table */
table {
	width: 100%;
        margin: 5px;
}
table td, th {
	border: 1px solid #002B36;
	padding: 5px;
}

table thead
{
  background-color: grey;
  color: white;
}